<div class="row mt-3">
    <div class="col-xs-12 col-md-3">
        <h3>Add student to the system</h3>
        <div class="alert alert-success" id="StudentAddSuccessMessage" *ngIf="newlyAddedStudentId">
            <div>Successfully Added Student with Id: <b>{{newlyAddedStudentId}}</b></div>
            <span class="material-symbols-outlined" data-toggle="tooltip" data-placement="top" title="Copy Student Id">
                <a class="pointerCursor"><img  src="../../../assets/images/content_copy.png" (click)="copyStudentId()"></a>
            </span>
        </div>
        <form #addStudentForm="ngForm" (ngSubmit)="addStudentSubmit(addStudentForm)">
            <div class="form-group mb-3">
                <label for="firstName">First Name</label>
                <input id="firstName" name="firstName" type="text" class="form-control" ngModel required/>
            </div>
            <div class="form-group mb-3">
                <label for="lastName">LastName</label>
                <input id="lastName" name="lastName" type="text" class="form-control" ngModel required/>
            </div>
            <div class="form-group mb-3">
                <label for="organization">Organization</label>
                <select id="organization" name="organization" class="form-select" required [(ngModel)]="organizationIdChosen" (change)="onOrganizationSelect()">
                    <!-- <option [value]="organizationIdChosen" selected disabled>Please choose an organization..</option> -->
                    <option *ngFor="let org of organizations" [value]="org.organizationId">{{org.name}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="department">Department</label>
                <select id="department" name="department" class="form-select" required [(ngModel)]="departmentIdChosen" (change)="onDepartmentSelect()">
                    <option *ngFor="let dept of departments" [value]="dept.departmentId">{{dept.name}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="program">Program</label>
                <select id="program" name="program" class="form-select" required [(ngModel)]="programIdChosen" (change)="onProgramSelect()">
                    <option *ngFor="let prog of programs" [value]="prog.programId">{{prog.name}}</option>
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="academicStart">Academic Start</label>
                <select id="academicStart" name="academicStart" class="form-select" required [(ngModel)]="academicCalendarDetailsOptionChosen">
                    <option *ngFor="let acdo of academicCalendarDetailsOptions" [value]="acdo.academicCalendarDetailId">{{acdo.year}} - {{acdo.term}} - {{acdo.startDate | date: 'dd-MM-yyyy'}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary" [disabled]="!addStudentForm.valid" type="submit" >Add Student</button>
            </div>
        </form>
    </div>
</div>
