<div class="row" *ngIf="selectedCourseToBeEdited">
    <h3>Edit Course</h3>
    <form (ngSubmit)="onEnrolledCourseEditSubmit()" #f="ngForm">
        <div class="form-group mb-3">
            <label class="form-label bold" for="courseName"><h6>Course</h6></label>
            <input class="form-control" type="text" [disabled]="true" name="courseName" [(ngModel)]="selectedCourseToBeEdited.courseDetails.courseName">
        </div>
        <div class="form-group mb-3">
            <label class="form-label bold" for="departmentEnrolledIn"><h6>Department</h6></label>
            <input class="form-control" type="text" [disabled]="true" name="departmentEnrolledIn" [(ngModel)]="selectedCourseToBeEdited.courseDetails.departmentName">
        </div>
        <div class="form-group mb-3">
            <label class="form-label bold" for="academicYear"><h6>Academic Year</h6></label>
            <select class="form-select" id="academicYear" name="academicYear" [(ngModel)]="academicYearSelected" (change)="onChange()">
                <option *ngFor="let item of courseEditYearAndTermOptions" [value]="item.academicYear">{{item.academicYear}}</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-label bold" for="academicTerm"><h6>Academic Term</h6></label>
            <select class="form-select" id="academicTerm" name="academicTerm" [(ngModel)]="academicTermSelected">
                <option *ngFor="let term of AcademicTermsOptionsForAcademicYear" [value]="term">{{term}}</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="marks"><h6>Marks</h6></label>
            <input class="form-control" type="text" name="marks" [(ngModel)]="marks">
        </div>
        <div class="form-group mb-3">
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
    </form>
</div>

