.adminBody{
    margin: 1.5em;
}

#studentCoursesTable{
    margin-left: 0 1.5em;
    text-align: center;
    box-sizing: border-box;
}

/* #submitButton{
    margin: 1em 0;
} */

table thead th{
    height: 1.5em;
    padding: 0.5em 0.5em;
}

#StudentIdName{
    display: inline;
}

#studentMetadata{
    margin-bottom: 1em;
    text-align: center;
}

.help-text{
    color: red;
}

.editEnrollCourseAction, .deleteEnrollCourseAction{
    margin: 0.25em;
}

.editEnrollCourseAction{
    color: darkorange;
}

.editEnrollCourseAction:hover{
    color:white;
    background-color: darkorange;
    transition: 1000ms;
}

.editEnrollCourseAction:not(:hover){
    transition: 1000ms;
}

.deleteEnrollCourseAction{
    color: red;
}

.deleteEnrollCourseAction:hover, .btn-outline-danger:hover{
    color:white;
    background-color: red;
    transition: 1000ms;
}

.deleteEnrollCourseAction:not(:hover), .btn-outline-danger:not(hover){
    transition: 1000ms;
}

.btn{
    font-weight: bold;
}

.btn:hover{
    transition: 1000ms;
}

.btn:not(:hover){
    transition: 1000ms;
}

#attentionCourseDetail{
    font-weight: bold;
}